@import "vuetify/lib/styles/settings";

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

$app-menu-width: 700px;

.ghost-row {
    background-color: black;
    opacity: 0.5;
    cursor: grabbing;
}

.v-row[data-draggable="true"] {
    cursor: grab;
    border-radius: map-get($rounded, 'lg');

    &:hover {
        background-color: #292929;
    }
}

.v-img__img--preload {
    filter: none;
}
